:root {
    --primary-color: #37FF47;
    --secondary-color: #454545;
    --accent-color: #00B30F;
    --text-color: #232323;

    --heading-font: "Special Gothic Condensed One", sans-serif;;
    --paragraph-font: "Cormorant Garamond", serif;;
}

* {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--text-color);
    margin: 1rem;
}

p {
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 1rem;
}

h1 {
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    border-bottom: 4px solid var(--secondary-color);
}

header {
    border-bottom: 2px solid var(--accent-color);
}

.navigation {
    display: none;
    flex-direction: column; 
    align-items: center;
    list-style: none;
	background-color: var(--secondary-color);
    padding: 8px;
}

.navigation.open {
    display: block;
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: var(--primary-color);
}

#active {
	color: var(--primary-color);
}

.open a {
	display: block;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    font-size: 2.3rem;
}

#menu.open::before {
	content: "X";
}

.heading-container h2 {
    margin: 0;
}

.toggleButton {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--text-color);
    margin-left: 1rem;
}

.toggleButton::before {
    content: "▽";
}

.toggleButton.open::before {
    content: "X";
}

.hidden {
    display: none;
}


section {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    margin-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 30px 30px 40px;
    margin-top: 65px;
}

img {
    width: 150px;
    height: 150px;
}

.result {
    margin-top: 10px;
    width: 100%;
    background-color: var(--primary-color);
    padding-bottom: 40px;
}

.result p {
    font-size: 15px;
}

.results {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.results section {
    margin: 0px;
    border: 0;
}

body {
    background-color: var(--secondary-color);
}

.copyright {
    font-weight: 700;
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.modifiedDate {
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 700;
    padding: 3px;
}