@media only screen and (min-width: 64rem) {
    /* ----------------- SHARED ----------------- */

    #menu {
        display: none;
    }

    ul.navigation, ul.navigation.open {
        display: flex;
        justify-content: space-evenly;
        gap: 80px;
        margin-right: 35px;
    }

    .navigation a:hover {
        color: #ddffe0;
    }

    nav {
        padding: 10px;
        grid-template-rows: 1fr;
    }

    #header {
        font-size: 2.5rem;
    }
  
    #header-subtitle {
        font-size: 1.8rem;
    }

    /* ----------------- INFO ----------------- */

    .info-main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-main section {
        max-width: 800px;
        margin: 2.1rem;
    }
}