/* ------------  Shared ------------ */

:root {
    --main-color: #3E3E3E;
    --accent-color: #AFFFA2;
    --secondary-color: #000800;
    --border: 1px solid rgba(54, 54, 54, 0.258);
}

* {
    margin: 0;
    
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--accent-color);
}

header img {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: auto;
    margin-right: 10px;
    box-shadow: 0 0 20px #000000;
}

.site-name {
    margin-left: 75px;
    margin-bottom: 2rem;
}

#header-title {
    margin-top: 35px;
    font-size: 1.8rem;
    font-weight: 700;
}

#header-subtitle {
    margin-top: 0.5rem;
}

.navigation {
    display: none;
    flex-direction: column; 
    align-items: center;
    list-style: none;
    padding: 8px;
    background-color: var(--secondary-color);
}
 
.navigation.open {
    display: block;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    color: var(--accent-color);
    font-size: 1.2rem;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
}

#active {
	color: #ffef76;
}

.open a {
	display: block;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    font-size: 1.9rem;
}

#menu.open::before {
	content: "X";
}

.social-icon img {
    width: 75px;
    height: auto;
    padding: 15px;
}

footer {
    background-color: var(--main-color);
    padding: 30px 30px 40px;
    color: var(--accent-color);
    font-weight: 300;
    font-size: 1.1rem;
}

#social {
    display: flex;
}

footer div {
    margin-top: 20px;
    text-align: left;
}  

footer p {
    margin-top: 0.25rem;
}

/* ------------  Directory ------------ */

main {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.grid section, .spotlight-cont > div {
    display: grid;
    justify-items: center;
    margin: 1rem;
    padding: 1rem;
    border: var(--border);
    box-shadow: 0 0 20px #000000;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    height: auto;
}

section.member-sec-card img,
div.spotlight img {
    box-shadow: 0 0 20px #6a6a6a;
    margin-bottom: 1rem;
    width: 80%;
    height: auto;
}

div.list section:nth-child(even) {
    background-color: var(--accent-color);
}

div.list section {
    padding: 1rem 0 1rem 1rem;
} 

div.list {
    max-width: 100%;
    overflow-x: hidden;
}

.select-layout button {
    width: 30%;
    height: 2rem;
    background-color: var(--accent-color);
    margin: 2rem;
}

.directory-sec, h1 {
    grid-column: 1 / -1;
}

button:hover {
    background-color: #aeffa295;
}

.select-layout {
    display: flex;
    justify-content: center;
}

/* ------------  Home ------------ */

.hero {
    position: relative;
    grid-column: 1 / -1;
}

.hero img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.join-btn {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    padding: 0.7rem;
    box-shadow: 0 0 20px #000000;
    transition: 0.2s;
}

.join-btn a {
    text-decoration: none;
    color: var(--secondary-color);
}

.join-btn:hover{
    text-decoration: none;
    background-color: #81fc6ed5;
}

div.info-cont h2,
#spotlights h2 {
    background-color: var(--main-color);
    color: var(--accent-color);
    padding: 10px;
    margin-bottom: 20px;
}

.info-cont section {
    background-color: #3e3e3e3c;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
}

.info-cont {
    grid-column: 1 / -1;
    width: 90%;
}

#spotlights {
    grid-column: 1 / -1;
    display: grid;
}

/* ------------  JOIN & THANK YOU ------------ */

