@media (min-width: 800px) {
    /* ------------  Shared ------------ */
	.navigation {
		display: flex;
		flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
	}

    main {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}

	nav a {
		flex: 1 1 100%;
        display: block;

	}

    #menu {
		display: none;
	}

    #header-title {
        margin-top: 25px;
        font-size: 40px;
    }

    header img {
        margin-top: 0;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 20px 0 20px 0;
    }

    footer div {
        margin-left: 40px;
    }

    /* ------------  Directory ------------ */

    div.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.list section {
    display: flex;
    justify-content: space-evenly;
    }

    
    .select-layout button {
        width: 10%;
        height: 2rem;
        background-color: var(--accent-color);
        margin: 2rem;
    }

    /* ------------  Home ------------ */

    .hero img, .hero {
        width: 100%;
        height: auto;
    }
    
    .info-cont,
    .spotlight-cont {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .info-cont section, 
    .spotlight-cont section {
        margin: 10px;
    }

    .join-btn {
        margin-top: 30rem;
    }

    .join-btn a {
        font-size: 30px;
        font-weight: 700;
    }

    .spotlight-cont > div.spotlight {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1 1 30%; 
        min-width: 500px;
        box-sizing: border-box;
    }

    .spotlight-cont > div.spotlight img {
        width: 200px;
        flex-shrink: 0;
    }

    .spotlight-cont {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .company-info > * {
        margin: 10px 0 20px 10px;
    }

    /* ------------  JOIN & THANK YOU ------------ */

    
}