html, body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100%;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
}

main {
    flex: 1;
    width: 75%;
    border: 1px solid #454545;
    border-radius: 15px;
    background-color: #454545;
    align-content: center;
}

main h2, main p {
    color: #37FF47;
}